[submodule "elisp/external/gist.el"]
	path = elisp/external/gist.el
	url = https://github.com/mhayashi1120/gist.el.git
[submodule "elisp/external/org2blog"]
	path = elisp/external/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "elisp/external/rvm.el"]
	path = elisp/external/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "elisp/external/hideshow-org.git"]
	path = elisp/external/hideshow-org.git
	url = https://github.com/secelis/hideshow-org.git
[submodule "elisp/external/rhtml"]
	path = elisp/external/rhtml
	url = https://github.com/eschulte/rhtml.git
